body{
    overflow: hidden;
}

.left-board, .right-board{
    width: 100px;
    height: 100%;
    position: fixed;
    background: 0 0;

}
.left-board{
    font-family: 'Anton', sans-serif;
    font-size: 24px;

}
.logo {
    color: #000;
    position: absolute;
    top: 9%;
    left: -20px;
    width: 130px;
    height: 30px;
    -webkit-transform: rotate(
            -90deg
    );
    -ms-transform: rotate(-90deg);
    transform: rotate(
            -90deg
    );
    z-index: 1;
}
.menu_btn{
    color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 10px;
    width: 65px;
    height: 30px;
    -webkit-transform: rotate(
    -90deg
    );
    -ms-transform: rotate(-90deg);
    transform: rotate(
    -90deg
    );
}

.social_wrap {
    color: #000;
    position: absolute;
    bottom: 10.8%;
    left: -35px;
    width: 160px;
    height: 25px;
    -webkit-transform: rotate(
    -90deg
    );
    -ms-transform: rotate(-90deg);
    transform: rotate(
    -90deg
    );
    overflow: hidden;
}
@media screen and (max-width: 1368px) {
    .left-board, .right-board{
        width: 50px;
    }
    .wrapper{
        margin: 1.5% 50px !important;
        height: 95% !important;
    }
    .wrapper-practics{
        margin: 1.5% 50px;
        height: 95%;
    }
    .logo {
        left: -35px;
        width: 115px;
    }
    .menu_btn {
        left: -8px;
    }
    .social_wrap {
        left: -53px;
        bottom: 11.8%;
        z-index: 50;
    }
}
.left-board{
    z-index: 99;
    left: 0;
}

.right-board{
    z-index: 99;
    right: 0;
}

.home_slider{
    font-family: 'Anton', sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.wrapper{
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: block;
    max-width: 100%;
    height: 90%;
    margin: 2.5% 100px;
    box-shadow: 0 0 75px rgb(0 0 0 / 50%);
}
.home_slider__bg{
    position: relative;
    max-width: 100%;
    height: 100%;
    background: transparent url(slide-bg.jpg) no-repeat center/cover;
    overflow: hidden;
}

.wrap_line__hover{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: 0 0;
}

#s1, #s2, #s3, #s4, #s5 {
    width: 100%;
    height: 100%;
    z-index: 1000;

}

/*удаляет черную заливку*/
@keyframes black_delete {
    0%{background: #292929;}
    100%{background: 0;}
}
.wrap_line__cont{
    animation: black_delete 0.1s forwards;
    animation-delay: 3s;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #292929;

}

.wrap_line__item{
    overflow: hidden;
    position: relative;
    border-right: 1px solid #000;
    height: 100%;
    width: 100%;


}
/*Поднимает первый для вылета названия*/
@keyframes  slider_border_left_up{
    0%{z-index: 10000;background: #292929;}
    50%{box-shadow: 25px 0px 8px 0px rgb(0 0 0 / 50%);}
    100%{box-shadow: none;background: #292929;z-index: 10000;}
}

.s1{
    animation: slider_border_left_up 2s;
}

/*Вылетает слово ZUUDIGITAL*/
@keyframes slider_zuudigital_fly {
    0%{
        left: -100%;
    }
    50%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}

.home_slider__LOGO{
    left: 100%;
    animation: slider_zuudigital_fly 2s;
    top: 19%;
    width: 100%;
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    font-size: 11rem;
    font-family: 'Anton', sans-serif;
}

@keyframes text_white{
    from{color: black}
    to{color: #FFFFFF}
}

/*Вылетает слово DIGITAL*/
@keyframes slider_digital_fly {
    0%{
        left: 100%;
        color: black;
    }

    100%{
        color: black;
        left: 0;
    }
}
.home_slider__bgText{
    z-index: 5;
    animation: slider_digital_fly 2s forwards, text_white 1s forwards;
    animation-delay: 1.8s, 5.5s;
    left: 100%;
    top: 19%;
    width: 100%;
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 11rem;
    font-family: 'Anton', sans-serif;
}

/*Добавление бек текста*/
@keyframes bgtext {
    from{opacity: 0}
    to{opacity: 1}
}

.home_slider__bgText::before{
    animation: bgtext 1s forwards;
    opacity: 0;
    animation-delay: 6s;
    position: absolute;
    content: "DIGITAL";
    width: 100%;
    left: 0;
    top: -15%;
    font-size: 15.5vw;
    color: rgba(255, 255, 255, .2);
}

/*Вылетает слово agency*/
@keyframes slider_agency_fly {
    0%{
        left: 100%;
        color: black;
    }

    100%{
        color: black;
        left: 0;
    }
}
.home_slider__bgTextSub{
    z-index: 5;
    animation: slider_agency_fly 2s forwards, text_white 1s forwards;
    animation-delay: 2.2s, 5.5s;
    left: 100%;
    top: 47%;
    width: 100%;
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 11rem;
    font-family: 'Anton', sans-serif;
}

.home_slider__bgTextSub::before{
    animation: bgtext 1s forwards;
    opacity: 0;
    animation-delay: 6s;
    position: absolute;
    content: "AGENCY";
    width: 100%;
    left: 0;
    top: 15%;
    font-size: 15.5vw;
    color: rgba(255, 255, 255, .2);
}

/*Поднимает последний для вылета названия*/
@keyframes  slider_border_right_up{
    0%{z-index: 10000;background: #292929;}
    30%{box-shadow: -25px 0px 8px 0px rgb(0 0 0 / 50%);}
    40%{box-shadow: -25px 0px 8px 0px rgb(0 0 0 / 50%);}
    80%{background: #292929}
    100%{box-shadow: none;background: 0;z-index: 10000;}
}

.s5{
    animation: slider_border_right_up 6s;
    border: 0;!important;
}

/*Заливаем желтым цветом*/
@keyframes yellow_collor_add {
    0%{left: -100%; background: #ebd300;}
    10%{left: 0; background: #ebd300;}
    55%{left: 0; background: #ebd300;}
    75%{left: 100%; background: #ebd300;}
    100%{left: 100%; background: #ebd300;}

}
.s1::before, .s2::before, .s3::before, .s4::before, .s5::before{
    animation: yellow_collor_add 5.5s forwards;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
}
.s1::before{
    animation-delay: 1.5s;
}
.s2::before{
    animation-delay: 1.7s;
}
.s3::before{
    animation-delay: 1.9s;
}
.s4::before{
    animation-delay: 2.1s;
}
.s5::before{
    animation-delay: 2.3s;
}

/*Добавление треугольника*/
@keyframes triangle_show {
    from{opacity: 0}
    to{opacity: 1}
}
.home_slider__bgImage{
    animation: triangle_show 1s forwards;
    animation-delay: 6s;
    position: absolute;
    width: 100%;
    height: 85%;
    top: 5%;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: url(triangleAboutUs.svg) no-repeat center;
    opacity: 0;
    z-index: 2;
}


/*2 слайд*/

.practics{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.wrapper-practics{

    box-sizing: border-box;
    position: relative;
    display: block;
    max-width: 100%;
    height: 90%;
    margin: 2.5% 100px;
    box-shadow: 0 0 75px rgb(0 0 0 / 50%);
}
.practics-marquee{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.practics-text{
    z-index: 15;
    height: 100%;
    width: 100%;
}
.practics-left-text{
    z-index: 15;
    position: relative;
}
.practics-right-text{
    z-index: 15;
}

.practics-left-text h2{
    color: #131313;
    font-size: 4.666666666666667vw;
}
.practics-left-text h5{
    margin-left: 30%;
    position: absolute;
    top: 50%;
}
.practics-left-text button{
    border-radius: 0;
    font-size: 1.40625vw;
    font-weight: bold;
    color: #1e1e1e;
    font-family: 'Open Sans', sans-serif;
    background-color: #ebd300;
    position: absolute;
    top: 80%;
    right: 10%;
    padding: 3% 8% 3% 8%;
}

.practics-left-text button a{
    color: #131313;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 800;
}

.practics_list li{
    font-family: 'Oswald', sans-serif;
    font-size: 1.35vw;


}
.ticker-wrap{
    z-index: 10;
    white-space: nowrap;
    width: 100%;
}
#ticker-wrap1{
    position: absolute;
    top: 40%;
}
#ticker-wrap2{
    position: absolute;
    top: 60%;
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}

.ticker {
  display: inline-block;
  animation: marquee 200s linear infinite;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 200s linear infinite;
}
.stroke{
    color: #FFFFFF;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #F6F6F6;
}
.item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 12.5vw;
  color: #F6F6F6;
  font-weight: 800;
  font-family: sans-serif;
}



.practics_list{
    list-style: none;
    font-size: 1.6666666666666667vw;
    font-family: 'Open Sans', sans-serif;
}
/*3 слайд*/

.awards{
    background: #1e1e1e;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#canvas{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.awards-text{
    z-index: 15;
    width: 100%;
    height: 100%;
    position: absolute;
}
.awards-left-text{
    z-index: 15;
    position: relative;
}
.awards-right-text{
    z-index: 15;
}

.awards-left-text h2{
    color: #FFFFFF;
    font-size: 4.666666666666667vw;
}
.awards-left-text h5{
    margin-left: 30%;
    position: absolute;
    top: 50%;
    color: #FFFFFF;
}
.awards-left-text button{
    border-radius: 0;
    font-size: 1.40625vw;
    font-weight: bold;
    color: #1e1e1e;
    font-family: 'Open Sans', sans-serif;
    background-color: #ebd300;
    position: absolute;
    top: 80%;
    right: 10%;
    padding: 3% 8% 3% 8%;
}

.awards-left-text button a{
    color: #131313;
    font-weight: bold;
    text-decoration: none;
}

.awards_list{
    list-style: none;
    font-size: 1.6666666666666667vw;
    font-family: 'Oswald', sans-serif;
}
.awards_list li{
    color: #FFFFFF;
}
/*4 слайд*/
.projects{
    background: #1e1e1e;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.portfolio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-block{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 33.3%;
    width: 25%;
    display: flex;
}


/*@keyframes home_slider {*/
/*    from{width: 0; background: #ebd300;}*/
/*    to{width: 100%;background: #ebd300;}*/
/*}*/

/*.s1::before, .s2::before, .s3::before, .s4::before, .s5::before{*/
/*    animation: home_slider 5s ease forwards;*/
/*    position: absolute;*/
/*    content: "";*/
/*    top: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/

/*}*/

